footer {
  width: 100%;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  footer .fas,
  footer .fab {
    color: #ffdd12;
    margin-right: 15px; }
  footer .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  footer .telefono,
  footer .mail,
  footer .localidad {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    width: 20vw; }
  footer .logo img {
    width: 27vw;
    height: 10vh; }

@media (max-width: 320px), (max-width: 425px), (max-width: 768px), (max-width: 768px) {
  header {
    width: 100%;
    height: 20%;
    background-color: #fff; }
    header .nav-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%;
      height: 100%; }
      header .nav-container .logo {
        width: 70%;
        height: 100%; }
        header .nav-container .logo a img {
          width: 100%;
          height: 100%;
          background-color: #201d1b; }
      header .nav-container .navbar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 30%;
        height: 100%;
        position: relative;
        z-index: 100; }
        header .nav-container .navbar .open {
          display: inline; }
        header .nav-container .navbar ul {
          position: absolute;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          height: 500px;
          width: 200px;
          top: 60px;
          right: -200px;
          background-color: cornflowerblue; }
          header .nav-container .navbar ul li {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            width: 100%;
            height: 50%; }
            header .nav-container .navbar ul li a {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
                  -ms-flex-pack: center;
                      justify-content: center;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center;
              text-decoration: none;
              font-size: 23px;
              font-weight: 300;
              font-family: "Roboto", sans-serif;
              width: 100%;
              height: 50%;
              color: #ffffff; }
              header .nav-container .navbar ul li a:hover {
                -webkit-box-shadow: 10px 10px 5px 0px #ffdd12;
                        box-shadow: 10px 10px 5px 0px #ffdd12; } }
.nav-item-style {
  text-decoration: none;
  font-size: 23px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: #ffffff; }

.nav-item-style:hover {
  -webkit-box-shadow: 0px 0px 35px 3px #ffdd12;
          box-shadow: 0px 0px 35px 3px #ffdd12; }

.main-container {
  width: 100%;
  height: auto;
  z-index: -15; }
  .main-container .banner-bicicleta {
    width: 100%;
    height: 90vh;
    background-color: #fff; }
    .main-container .banner-bicicleta img {
      width: 100%;
      height: 100%; }
  .main-container .fortalezas {
    width: 100%;
    height: 110vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .main-container .fortalezas .top,
    .main-container .fortalezas .low {
      width: 100%;
      height: 20%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .main-container .fortalezas .top .alcance-container,
      .main-container .fortalezas .top .variedad-container,
      .main-container .fortalezas .low .alcance-container,
      .main-container .fortalezas .low .variedad-container {
        width: 40%;
        height: 16vh;
        -webkit-box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.75);
                box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.75);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background-color: #201d1b; }
      .main-container .fortalezas .top .alcance-container .alcance-img,
      .main-container .fortalezas .top .variedad-container .variedad-img,
      .main-container .fortalezas .low .alcance-container .alcance-img,
      .main-container .fortalezas .low .variedad-container .variedad-img {
        width: 30%;
        height: 100%;
        border-right: 2px solid #ffdd12; }
        .main-container .fortalezas .top .alcance-container .alcance-img img,
        .main-container .fortalezas .top .variedad-container .variedad-img img,
        .main-container .fortalezas .low .alcance-container .alcance-img img,
        .main-container .fortalezas .low .variedad-container .variedad-img img {
          width: 100%;
          height: 100%; }
      .main-container .fortalezas .top .alcance-container .alcance-txt,
      .main-container .fortalezas .top .variedad-container .variedad-txt,
      .main-container .fortalezas .low .alcance-container .alcance-txt,
      .main-container .fortalezas .low .variedad-container .variedad-txt {
        width: 70%;
        height: 100%;
        margin-left: 5px; }
        .main-container .fortalezas .top .alcance-container .alcance-txt h3,
        .main-container .fortalezas .top .variedad-container .variedad-txt h3,
        .main-container .fortalezas .low .alcance-container .alcance-txt h3,
        .main-container .fortalezas .low .variedad-container .variedad-txt h3 {
          font-size: 25px;
          color: #ffdd12; }
        .main-container .fortalezas .top .alcance-container .alcance-txt p,
        .main-container .fortalezas .top .variedad-container .variedad-txt p,
        .main-container .fortalezas .low .alcance-container .alcance-txt p,
        .main-container .fortalezas .low .variedad-container .variedad-txt p {
          font-size: 18px;
          color: #ffffff; }
    .main-container .fortalezas .mid {
      width: 97%;
      height: 60%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly; }
      .main-container .fortalezas .mid .izquierda,
      .main-container .fortalezas .mid .derecha {
        width: 40%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
      .main-container .fortalezas .mid .izquierda .arriba,
      .main-container .fortalezas .mid .izquierda .central,
      .main-container .fortalezas .mid .izquierda .abajo,
      .main-container .fortalezas .mid .derecha .arriba,
      .main-container .fortalezas .mid .derecha .central,
      .main-container .fortalezas .mid .derecha .abajo {
        width: 90%;
        height: 16vh;
        -webkit-box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.75);
                box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.75);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background-color: #201d1b; }
      .main-container .fortalezas .mid .izquierda .arriba,
      .main-container .fortalezas .mid .izquierda .abajo {
        -ms-flex-item-align: end;
            align-self: flex-end; }
      .main-container .fortalezas .mid .derecha .central {
        -ms-flex-item-align: end;
            align-self: flex-end; }
      .main-container .fortalezas .mid .centro {
        width: 30%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .main-container .fortalezas .mid .centro .info-container {
          width: 50%;
          height: 50%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
          .main-container .fortalezas .mid .centro .info-container h3 {
            text-align: center;
            color: #ffffff; }
          .main-container .fortalezas .mid .centro .info-container a {
            background-color: #ffffff;
            width: 100%;
            text-align: center;
            height: 15%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            font-size: 22px;
            border-radius: 20px;
            cursor: pointer;
            z-index: 15;
            color: #201d1b; }
            .main-container .fortalezas .mid .centro .info-container a:hover {
              text-decoration: none; }
      .main-container .fortalezas .mid .experiencia-container .experiencia-img,
      .main-container .fortalezas .mid .conocimiento-container .conocimiento-img,
      .main-container .fortalezas .mid .distribucion-container .distribucion-img,
      .main-container .fortalezas .mid .garantia-container .garantia-img,
      .main-container .fortalezas .mid .postventa-container .postventa-img,
      .main-container .fortalezas .mid .asesoramiento-container .asesoramiento-img {
        width: 30%;
        height: 100%;
        border-right: 2px solid #ffdd12; }
        .main-container .fortalezas .mid .experiencia-container .experiencia-img img,
        .main-container .fortalezas .mid .conocimiento-container .conocimiento-img img,
        .main-container .fortalezas .mid .distribucion-container .distribucion-img img,
        .main-container .fortalezas .mid .garantia-container .garantia-img img,
        .main-container .fortalezas .mid .postventa-container .postventa-img img,
        .main-container .fortalezas .mid .asesoramiento-container .asesoramiento-img img {
          width: 100%;
          height: 100%; }
      .main-container .fortalezas .mid .experiencia-container .experiencia-txt,
      .main-container .fortalezas .mid .conocimiento-container .conocimiento-txt,
      .main-container .fortalezas .mid .distribucion-container .distribucion-txt,
      .main-container .fortalezas .mid .garantia-container .garantia-txt,
      .main-container .fortalezas .mid .postventa-container .postventa-txt,
      .main-container .fortalezas .mid .asesoramiento-container .asesoramiento-txt {
        width: 70%;
        height: 100%;
        margin-left: 5px; }
        .main-container .fortalezas .mid .experiencia-container .experiencia-txt h3,
        .main-container .fortalezas .mid .conocimiento-container .conocimiento-txt h3,
        .main-container .fortalezas .mid .distribucion-container .distribucion-txt h3,
        .main-container .fortalezas .mid .garantia-container .garantia-txt h3,
        .main-container .fortalezas .mid .postventa-container .postventa-txt h3,
        .main-container .fortalezas .mid .asesoramiento-container .asesoramiento-txt h3 {
          font-size: 25px;
          color: #ffdd12; }
        .main-container .fortalezas .mid .experiencia-container .experiencia-txt p,
        .main-container .fortalezas .mid .conocimiento-container .conocimiento-txt p,
        .main-container .fortalezas .mid .distribucion-container .distribucion-txt p,
        .main-container .fortalezas .mid .garantia-container .garantia-txt p,
        .main-container .fortalezas .mid .postventa-container .postventa-txt p,
        .main-container .fortalezas .mid .asesoramiento-container .asesoramiento-txt p {
          font-size: 18px;
          color: #ffffff; }
    .main-container .fortalezas .circulo-exterior {
      position: absolute;
      z-index: -2;
      background-color: #ffdd12;
      width: 35vw;
      height: 70vh;
      border-radius: 50%;
      -webkit-box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.75);
              box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.75); }
    .main-container .fortalezas .circulo-interior {
      position: absolute;
      z-index: -2;
      background-color: #201d1b;
      width: 23%;
      height: 43%;
      border-radius: 50%;
      -webkit-box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.75);
              box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.75); }

.principales-marcas {
  width: 100%;
  height: auto;
  background-color: #e0e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly; }
  .principales-marcas h2 {
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: #201d1b;
    background-color: #ffdd12;
    width: 30%; }
  .principales-marcas .marcas-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 25vh;
    background-color: #fff; }
    .principales-marcas .marcas-container .item {
      width: 10vw;
      height: 5vh;
      margin: 1vw; }
      .principales-marcas .marcas-container .item img {
        width: 100%;
        height: 100%; }
  .principales-marcas .ver-mas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 18%;
    border-radius: 20px;
    background-color: #201d1b;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 23px;
    color: white;
    padding: 16px 31px;
    text-decoration: none; }
    .principales-marcas .ver-mas:active {
      position: relative;
      top: 1px; }

.ig-feed {
  width: 100%;
  background-color: #ffdd12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly; }
  .ig-feed h2 {
    margin-top: 50px;
    letter-spacing: 2px;
    font-size: 40px;
    font-family: "Anton", sans-serif;
    background-color: #201d1b;
    color: white;
    text-align: center; }
  .ig-feed .feed-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .ig-feed .feed-container .ig-title {
      width: 20%;
      background-color: #201d1b;
      color: white;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 20px; }

@media (max-width: 320px), (max-width: 425px), (max-width: 768px), (max-width: 768px) {
  .brand-mobile {
    width: 45%; }

  #img-container {
    width: 100%;
    height: 1900px;
    z-index: 0;
    position: static; }
    #img-container .fortalezas {
      width: 100%;
      height: 70%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      position: static;
      background-color: cornflowerblue;
      border: 2px solid #ffdd12; }
      #img-container .fortalezas .circulo-exterior,
      #img-container .fortalezas .circulo-interior {
        display: none; }
      #img-container .fortalezas .top,
      #img-container .fortalezas .low {
        width: 100%;
        height: 20%;
        margin: 20px 0;
        position: static;
        visibility: hidden; }
        #img-container .fortalezas .top .alcance-container,
        #img-container .fortalezas .top .variedad-container,
        #img-container .fortalezas .low .alcance-container,
        #img-container .fortalezas .low .variedad-container {
          margin-top: 50px;
          width: 100%;
          height: 100%;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
      #img-container .fortalezas .mid {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        background-color: #fff;
        height: 100%;
        position: static; }
        #img-container .fortalezas .mid .izquierda,
        #img-container .fortalezas .mid .derecha {
          width: 100%; }
          #img-container .fortalezas .mid .izquierda .arriba,
          #img-container .fortalezas .mid .izquierda .central,
          #img-container .fortalezas .mid .izquierda .abajo,
          #img-container .fortalezas .mid .derecha .arriba,
          #img-container .fortalezas .mid .derecha .central,
          #img-container .fortalezas .mid .derecha .abajo {
            width: 100%;
            margin: 20px 0; }
        #img-container .fortalezas .mid .centro {
          display: none; }
    #img-container .principales-marcas h2 {
      font-size: 30px;
      width: 80%; }
    #img-container .principales-marcas .marcas-container {
      overflow: auto;
      height: 15vh; }
      #img-container .principales-marcas .marcas-container .marcas:nth-child(1) {
        width: 20%; }
      #img-container .principales-marcas .marcas-container .marcas:nth-child(2) {
        width: 20%; }
      #img-container .principales-marcas .marcas-container .marcas:nth-child(3) {
        width: 20%; }
      #img-container .principales-marcas .marcas-container .marcas:nth-child(4) {
        width: 20%; }
      #img-container .principales-marcas .marcas-container .marcas:nth-child(5) {
        width: 20%; }
      #img-container .principales-marcas .marcas-container .marcas:nth-child(6) {
        width: 20%; }
    #img-container .principales-marcas .ver-mas {
      font-size: 15px;
      width: 80%; }
      #img-container .principales-marcas .ver-mas:active {
        position: relative;
        top: 1px; }
    #img-container .ig-feed h2 {
      font-size: 30px; }
    #img-container .ig-feed .feed-container .ig-title {
      width: 60%;
      font-size: 15px; } }
.empresa {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .empresa .empresa-container {
    width: 80%;
    height: 60vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .empresa .empresa-container h2 {
      font-family: "Anton", sans-serif;
      font-size: 40px;
      background-color: #ffdd12;
      margin-bottom: 20px; }
    .empresa .empresa-container .empresa-img {
      width: 100%;
      height: 100%;
      background-image: url(../../img/Empresa/Foto.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: relative; }
    .empresa .empresa-container .empresa-txt {
      position: absolute;
      bottom: -70%;
      width: 95%;
      background-color: #fff;
      border: 3px solid #ffdd12;
      font-family: "Roboto", sans-serif;
      font-size: 20px;
      text-align: justify;
      padding: 0 30px;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  .empresa .empresa-valores {
    width: 100%;
    height: 80vh;
    background-color: #201d1b;
    margin-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url(../../img/Empresa/bici_fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom; }
    .empresa .empresa-valores .valores-container {
      width: 30%;
      height: 60%;
      background-color: #ffdd12;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center;
      -webkit-box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.75);
              box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.75); }
      .empresa .empresa-valores .valores-container h3 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background-color: #201d1b;
        color: white;
        font-family: "Anton", sans-serif;
        font-size: 40px;
        margin: 20px auto;
        letter-spacing: 3px; }
      .empresa .empresa-valores .valores-container p {
        font-family: "Roboto", sans-serif;
        font-size: 20px; }

@media (max-width: 320px), (max-width: 425px), (max-width: 768px), (max-width: 768px) {
  .empresa {
    margin-top: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .empresa .empresa-container {
      width: 80%;
      height: 60vh;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .empresa .empresa-container h2 {
        font-family: "Anton", sans-serif;
        font-size: 40px;
        background-color: #ffdd12;
        margin-bottom: 20px; }
      .empresa .empresa-container .empresa-img {
        width: 100%;
        height: 100%;
        background-image: url(../../img/Empresa/Foto.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        position: relative; }
      .empresa .empresa-container .empresa-txt {
        position: absolute;
        bottom: -70%;
        width: 95%;
        background-color: #fff;
        border: 3px solid #ffdd12;
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        text-align: justify;
        padding: 0 30px;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
    .empresa .empresa-valores {
      width: 100%;
      height: 80vh;
      background-color: #201d1b;
      margin-top: 80px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background-image: url(../../img/Empresa/bici_fondo.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom; }
      .empresa .empresa-valores .valores-container {
        width: 30%;
        height: 60%;
        background-color: #ffdd12;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
        -webkit-box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.75);
                box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.75); }
        .empresa .empresa-valores .valores-container h3 {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          background-color: #201d1b;
          color: white;
          font-family: "Anton", sans-serif;
          font-size: 40px;
          margin: 20px auto;
          letter-spacing: 3px; }
        .empresa .empresa-valores .valores-container p {
          font-family: "Roboto", sans-serif;
          font-size: 20px; } }
.team-venzo .team-venzo__resumen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .team-venzo .team-venzo__resumen .resumen-txt {
    margin: 50px auto;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .team-venzo .team-venzo__resumen .resumen-txt h2 {
      color: white;
      font-family: "Anton", sans-serif;
      font-size: 40px;
      letter-spacing: 3px; }
    .team-venzo .team-venzo__resumen .resumen-txt p {
      color: white;
      font-family: "Roboto", sans-serif;
      font-size: 22px; }
.team-venzo .team-venzo__categorias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* a:hover {
      border: 1px solid $primary;
      box-shadow: $shadow;
  }
  a:active {
      position: relative;
      top: 1px;
  } */ }
  .team-venzo .team-venzo__categorias h2 {
    font-family: "Anton", sans-serif;
    color: white;
    font-size: 30px;
    letter-spacing: 2px; }
  .team-venzo .team-venzo__categorias .categorias-container {
    background-color: #e0e0e0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .team-venzo .team-venzo__categorias .categorias-container .categorias {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 90%; }
      .team-venzo .team-venzo__categorias .categorias-container .categorias .juveniles,
      .team-venzo .team-venzo__categorias .categorias-container .categorias .elite,
      .team-venzo .team-venzo__categorias .categorias-container .categorias .master {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 50px; }
        .team-venzo .team-venzo__categorias .categorias-container .categorias .juveniles .miembros,
        .team-venzo .team-venzo__categorias .categorias-container .categorias .elite .miembros,
        .team-venzo .team-venzo__categorias .categorias-container .categorias .master .miembros {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
        .team-venzo .team-venzo__categorias .categorias-container .categorias .juveniles h3,
        .team-venzo .team-venzo__categorias .categorias-container .categorias .elite h3,
        .team-venzo .team-venzo__categorias .categorias-container .categorias .master h3 {
          font-family: "Anton", sans-serif;
          letter-spacing: 2px;
          background-color: #ffdd12;
          width: 100%;
          text-align: center;
          font-size: 30px; }
  .team-venzo .team-venzo__categorias ul {
    list-style: none;
    margin: 20px; }
    .team-venzo .team-venzo__categorias ul li {
      font-family: "Roboto", sans-serif;
      font-size: 23px; }
  .team-venzo .team-venzo__categorias a {
    background-color: white;
    border-radius: 28px;
    border: 1px solid white;
    display: inline-block;
    cursor: pointer;
    color: #201d1b;
    font-family: Arial;
    font-size: 23px;
    padding: 10px 40px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #201d1b; }
.team-venzo .team-venzo__feed {
  margin-top: 50px;
  width: 90%;
  height: 450px; }

.productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .productos .productos-txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 73%;
    height: 300px; }
    .productos .productos-txt h2 {
      color: #201d1b;
      background-color: #ffdd12;
      letter-spacing: 2px;
      width: 17%;
      text-align: center;
      font-size: 50px;
      text-transform: uppercase; }
    .productos .productos-txt p {
      font-size: 28px;
      text-align: center;
      color: white; }
  .productos .productos-container {
    width: 90%;
    height: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .productos .productos-container .hide {
      display: none; }
    .productos .productos-container .productos-menu {
      width: 20%;
      height: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: relative; }
      .productos .productos-container .productos-menu .main {
        width: 100%;
        height: 50px;
        font-size: 30px;
        background-color: #ffdd12;
        color: #201d1b;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
      .productos .productos-container .productos-menu .prod,
      .productos .productos-container .productos-menu .brand {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-item-align: end;
            align-self: flex-end;
        color: white;
        background-color: #201d1b;
        width: 50%;
        height: 50px;
        margin: 70px 0;
        font-size: 28px; }
        .productos .productos-container .productos-menu .prod:hover,
        .productos .productos-container .productos-menu .brand:hover {
          border: 2px solid #ffdd12;
          cursor: pointer; }
        .productos .productos-container .productos-menu .prod:active,
        .productos .productos-container .productos-menu .brand:active {
          border: 2px solid #ffdd12; }
      .productos .productos-container .productos-menu .bgONE,
      .productos .productos-container .productos-menu .bgTWO {
        position: absolute;
        border-bottom: 4px solid #ffdd12;
        border-left: 4px solid #ffdd12;
        -ms-flex-item-align: end;
            align-self: flex-end;
        z-index: -1; }
      .productos .productos-container .productos-menu .bgONE {
        top: 0;
        right: 0;
        width: 70%;
        height: 30%; }
      .productos .productos-container .productos-menu .bgTWO {
        top: 30%;
        right: 0;
        width: 70%;
        height: 38%; }
    .productos .productos-container .marcas-img,
    .productos .productos-container .productos-img {
      width: 80%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly; }
      .productos .productos-container .marcas-img .marcas-container__top,
      .productos .productos-container .marcas-img .marcas-container__mid,
      .productos .productos-container .marcas-img .marcas-container__low,
      .productos .productos-container .marcas-img .productos-container__top,
      .productos .productos-container .marcas-img .productos-container__mid,
      .productos .productos-container .marcas-img .productos-container__low,
      .productos .productos-container .productos-img .marcas-container__top,
      .productos .productos-container .productos-img .marcas-container__mid,
      .productos .productos-container .productos-img .marcas-container__low,
      .productos .productos-container .productos-img .productos-container__top,
      .productos .productos-container .productos-img .productos-container__mid,
      .productos .productos-container .productos-img .productos-container__low {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly; }
    .productos .productos-container .hide {
      display: none; }
    .productos .productos-container .marcas-container__logo,
    .productos .productos-container .productos-container__logo {
      width: 300px;
      height: 300px;
      background-color: #e0e0e0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .productos .productos-container .marcas-container__logo img,
      .productos .productos-container .productos-container__logo img {
        width: 70%;
        height: 25%; }
    .productos .productos-container .productos-container__logo img {
      height: 70%; }

.cicloturistas {
  width: 100%;
  height: 2300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .cicloturistas .cicloturistas-img {
    width: 100%;
    height: auto; }
    .cicloturistas .cicloturistas-img img {
      width: 100%;
      height: 90vh; }
  .cicloturistas .cicloturistas-txt {
    width: 100%;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #201d1b; }
    .cicloturistas .cicloturistas-txt h2 {
      font-size: 60px;
      background-color: #ffdd12;
      width: 20%;
      text-align: center; }
    .cicloturistas .cicloturistas-txt p {
      font-size: 30px;
      width: 72%;
      text-align: center;
      color: white; }
  .cicloturistas .cicloturistas-perfiles {
    margin-top: 50px;
    width: 95%;
    height: 400px;
    background-color: #e0e0e0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .cicloturistas .cicloturistas-perfiles .perfil-foto {
      width: 16%;
      height: 70%;
      background-color: #fff;
      border-radius: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end; }
      .cicloturistas .cicloturistas-perfiles .perfil-foto .perfil-nombre {
        height: 43px;
        width: 100%;
        bottom: -10px;
        left: 20%;
        font-size: 27px;
        border: 2px solid #ffdd12;
        background-color: #fff;
        text-align: center; }
  .cicloturistas .galeria {
    margin-top: 50px;
    width: 90%;
    height: 500px;
    background-color: #201d1b; }
    .cicloturistas .galeria h2 {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      color: white;
      font-size: 60px; }
    .cicloturistas .galeria .galeria-img {
      background-color: #fff;
      width: 100%;
      height: 100%; }

.contacto {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 1vh; }
  .contacto h3 {
    background-color: #ffdd12;
    text-align: center;
    border: 2px solid white; }
  .contacto p {
    font-size: 28px;
    color: #ffffff; }
  .contacto .contacto-form {
    height: 700px;
    width: 100%;
    margin-top: 5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.75); }
    .contacto .contacto-form .contacto-form__img,
    .contacto .contacto-form .contacto-form__form {
      width: 50%;
      height: 100%;
      margin: 10px; }
    .contacto .contacto-form .contacto-form__form {
      width: 50%;
      margin-right: 0;
      justify-self: flex-start;
      background-color: #ffdd12; }
    .contacto .contacto-form .contacto-form__img {
      background-image: url(../../img/formIMG.jpg);
      background-position: center;
      background-size: cover;
      width: 50%;
      height: 95%; }
    .contacto .contacto-form .contacto-form__form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .contacto .contacto-form .contacto-form__form form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 70%;
        height: 80%; }
        .contacto .contacto-form .contacto-form__form form input {
          width: 100%;
          height: 35px;
          margin: 10px;
          font-family: "Roboto", sans-serif; }
        .contacto .contacto-form .contacto-form__form form textarea {
          resize: none;
          width: 100%;
          height: 20vh; }
        .contacto .contacto-form .contacto-form__form form .form-btn {
          -ms-flex-item-align: end;
              align-self: flex-end;
          font-family: "Anton", sans-serif;
          height: 7vh;
          width: 10vw;
          font-size: 22px;
          background-color: #ffdd12; }
          .contacto .contacto-form .contacto-form__form form .form-btn:hover {
            border: 3px solid #201d1b;
            font-size: 25px; }
  .contacto #map {
    width: 100%;
    height: 50vh;
    background-color: #e0e0e0;
    margin-top: 5vh; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  background-color: #201d1b; }
  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body h6 {
    font-size: 50px;
    font-family: "Anton", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase; }
  body p {
    font-size: 22px;
    font-family: "Roboto", sans-serif; }
  body .fa {
    color: #ffdd12; }

@media (max-width: 320px), (max-width: 425px), (max-width: 768px), (max-width: 768px) {
  .brand-mobile {
    width: 45% !important; } }
