@import "./variables";
@import "./components/navbar";
@import "./components/index";
@import "../components/empresa/empresa";
@import "../components/teamVenzo/teanVenzo";
@import "../components/productos/productos";
@import "../components/cicloturistas/cicloturistas";
@import "../components/contacto/contacto";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
    font-family: inherit;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

body {
    background-color: $primary;
    flex-direction: column;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 3em;
        font-family: $primary-font;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin: 0;
    }

    p {
        font-size: 1.5em;
        font-family: $secondary-font;
    }

    .fa {
        color: $secondary;
    }
}

@media (max-width: $S), (max-width: $M), (max-width: $L), (max-width: $XL) {
    .brand-mobile {
        width: 45% !important;
    }
}

@media (max-width: $S), (max-width: $M), (max-width: $L), (max-width: $XL) {
    .brand-mobile {
        width: 45% !important;
    }
}

@media (max-width: 1366px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 2.6em;
        font-family: $primary-font;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin: 0;
    }

    p {
        font-size: 1.1em;
        font-family: $secondary-font;
    }
}
