<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous" />
        <link rel="stylesheet" href="../../css/style.css" />
        <title>Carlos Karabitian - Agente oficial Shimano.</title>
    </head>
    <body>
        <nav class="navbar navbar-dark navbar-expand-lg nav-container py-4">
            <a class="navbar-brand brand-mobile" href="#" style="width: 25%;"><img src="../../img/logo2.png" class="img-fluid" alt="logo" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav ml-5">
                    <li class="nav-item nav-item-style mx-1">
                        <a class="nav-link" href="../../index.html">INICIO<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item nav-item-style mx-1">
                        <a class="nav-link" href="../empresa/empresa.html">LA EMPRESA</a>
                    </li>
                    <li class="nav-item nav-item-style mx-1">
                        <a class="nav-link" href="../teamVenzo/teamVenzo.html">
                            TEAM VENZO
                        </a>
                    </li>
                    <li class="nav-item nav-item-style mx-1">
                        <a class="nav-link" href="../productos/productos.html">PRODUCTOS</a>
                    </li>
                    <li class="nav-item nav-item-style mx-1">
                        <a class="nav-link" href="../cicloturistas/cicloturistas.html">CICLOTURISTAS</a>
                    </li>
                    <li class="nav-item nav-item-style ml-1 mr-3">
                        <a class="nav-link active" href="#">CONTACTO</a>
                    </li>
                </ul>
            </div>
        </nav>

        <section class="contacto">
            <div class="contacto-titulo">
                <h3 class="p-1 mb-3">¡CONTACTANOS!</h3>
                <p>Te responderemos a la brevedad</p>
            </div>
            <div class="contacto-form">
                <div class="contacto-form__img"></div>
                <div class="contacto-form__form">
                    <form action="./enviar.php" method="POST" class="my-5">
                        <input class="py-1" type="text" name="nombre" id="name" required placeholder="Nombre y apellido" />
                        <input class="py-1" type="email" name="email" required id="email" placeholder="Mail" />
                        <input class="py-1" type="text" name="phone" required id="phone" placeholder="Telefono" />
                        <input class="py-1" type="text" name="asunto" required id="subject" placeholder="Localidad" />
                        <textarea name="mensaje" required id="message" placeholder="Mensaje"></textarea>
                        <input type="submit" value="Enviar" class="form-btn py-1 my-2" />
                    </form>
                </div>
            </div>

            <div id="map"></div>
        </section>

        <footer>
            <div class="footer-container">
                <div class="telefono"><i class="fas fa-phone-alt fa-2x"></i>+54 9 351 XXX XXXX</div>
                <div class="mail"><i class="fas fa-envelope fa-2x"></i>xxx@xxxx.com.ar</div>
                <div class="localidad"><i class="fas fa-map-marker-alt fa-2x"></i>Córdoba - Argentina</div>
            </div>
            <div class="footer-container">
                <div class="logo">
                    <img src="../../img/logo2.png" alt="" />
                </div>
                <div class="redes">
                    <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f fa-2x"></i></a>
                    <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
                </div>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

        <script src="https://apps.elfsight.com/p/platform.js" defer></script>

        <script src="./mapa.js"></script>

        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTL5Fd8LlyBDqLpW52H8cCDfeQ2VFnyOo&callback=initMap"></script>
    </body>
</html>
