<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous" />
        <link rel="stylesheet" href="../../css/style.css" />
        <script src="script.js"></script>
        <title>Carlos Karabitian - Agente oficial Shimano.</title>
    </head>
    <body>
        <nav class="navbar navbar-dark navbar-expand-lg nav-container py-4">
            <a class="navbar-brand brand-mobile" href="#" style="width: 25%;"><img src="../../img/logo2.png"  class="img-fluid" alt="logo"/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-5">
                <li class="nav-item nav-item-style mx-1">
                <a class="nav-link" href="../../index.html">INICIO<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item nav-item-style mx-1">
                <a class="nav-link active" href="../empresa/empresa.html">LA EMPRESA</a>
                </li>
                <li class="nav-item nav-item-style mx-1">
                <a class="nav-link" href="../teamVenzo/teamVenzo.html">
                    TEAM VENZO
                </a>
                </li>
                <li class="nav-item nav-item-style mx-1">
                <a class="nav-link" href="../productos/productos.html">PRODUCTOS</a>
                </li>
                <li class="nav-item nav-item-style mx-1">
                    <a class="nav-link" href="../cicloturistas/cicloturistas.html">CICLOTURISTAS</a>
                </li>
                <li class="nav-item nav-item-style mx-1">
                    <a class="nav-link" href="#">CONTACTO</a>
                </li>
            </ul>
            </div>
        </nav>
        <section class="contacto">
            <div class="contacto-titulo">
                <h3>contactanos</h3>
                <p>Te responderemos a la brevedad</p>
            </div>
            <div class="contacto-form">
                <div class="contacto-form__img"></div>
                <div class="contacto-form__form">
                    <input type="text" name="" id="" placeholder="Nombre y apellido" />
                    <input type="email" name="" id="" placeholder="Mail" />
                    <input type="text" name="" id="" placeholder="Telefono" />
                    <input type="text" name="" id="" placeholder="Localidad" />
                    <textarea name="" id="" cols="83" rows="10" placeholder="Mensaje"></textarea>
                </div>
            </div>
        </section>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    </body>
</html>
