<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="../../css/style.css" />
        <title>Carlos Karabitian - Agente oficial Shimano.</title>
    </head>
    <body>
        <header>
            <div id="nav-container" class="nav-container">
                <div class="logo">
                    <a href="#"><img src="../../img/logo2.png" alt="" /></a>
                </div>
                <nav class="navbar" id="navbar">
                    <ul>
                        <li><a href="../../index.html">INICIO</a></li>
                        <li><a href="../empresa/empresa.html">LA EMPRESA</a></li>
                        <li><a href="../teamVenzo/teamVenzo.html">TEAM VENZO</a></li>
                        <li><a href="../productos/productos.html">PRODUCTOS</a></li>
                        <li><a href="#">CICLOTURISTAS</a></li>
                        <li><a href="../contacto/contacto.html">CONTACTO</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <section class="cicloturistas">
            <div class="cicloturistas-img">
                <img src="../../img/Banner Principal/Web GCK-03.png" alt="" />
            </div>
            <div class="cicloturistas-txt">
                <h2>CICLOTURISTAS</h2>
                <p>¡Nos motiva tu motivación! Desde nuestros comienzos apoyamos el cicloturismo del país y en este proceso hemos forjado fuertes vínculos con algunos referentes de esta actividad. Los admiramos, y te invitamos a conocer los caminos y aventuras de estos cicloturistas a través de sus redes sociales.</p>
            </div>
            <div class="cicloturistas-perfiles">
                <div class="perfil-foto">
                    <p class="perfil-nombre">@lavidadeviaje</p>
                </div>
                <div class="perfil-foto">
                    <p class="perfil-nombre">@andar.liviano</p>
                </div>
                <div class="perfil-foto">
                    <p class="perfil-nombre">@nacionsalvaje</p>
                </div>

                <div class="perfil-foto">
                    <p class="perfil-nombre">@todoapedal</p>
                </div>
                <div class="perfil-foto">
                    <p class="perfil-nombre">@unviajerofrecuente19</p>
                </div>
                <div class="perfil-foto">
                    <p class="perfil-nombre">@natibainotti</p>
                </div>
            </div>

            <div class="galeria">
                <h2>GALERIA CON FOTOS</h2>
                <div class="galeria-img"></div>
            </div>
        </section>
    </body>
</html>
