<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous" />
        <link rel="stylesheet" href="../../css/style.css" />
        <title>Carlos Karabitian - Agente oficial Shimano.</title>
    </head>
    <body>
        <nav class="navbar navbar-dark navbar-expand-lg nav-container py-4">
            <a class="navbar-brand brand-mobile" href="#" style="width: 25%;"><img src="../../img/logo2.png" class="img-fluid" alt="logo" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav ml-5">
                    <li class="nav-item nav-item-style mx-1">
                        <a class="nav-link" href="../../index.html">INICIO<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item nav-item-style mx-1">
                        <a class="nav-link" href="../empresa/empresa.html">LA EMPRESA</a>
                    </li>
                    <li class="nav-item nav-item-style mx-1">
                        <a class="nav-link" href="../teamVenzo/teamVenzo.html">
                            TEAM VENZO
                        </a>
                    </li>
                    <li class="nav-item nav-item-style mx-1">
                        <a class="nav-link" href="../productos/productos.html">PRODUCTOS</a>
                    </li>
                    <li class="nav-item nav-item-style mx-1">
                        <a class="nav-link active" href="#">CICLOTURISTAS</a>
                    </li>
                    <li class="nav-item nav-item-style ml-1 mr-3">
                        <a class="nav-link" href="../contacto/contacto.html">CONTACTO</a>
                    </li>
                </ul>
            </div>
        </nav>

        <section class="cicloturistas">
            <div class="cicloturistas-img mb-3">
                <img src="../../img/BannerPrincipal/WebGCK-03.png" class="img-fluid w-100" alt="" />
            </div>
            <div class="cicloturistas-txt my-3">
                <h2 class="p-2">CICLOTURISTAS</h2>
                <p>¡Nos motiva tu motivación! Desde nuestros comienzos apoyamos el cicloturismo del país y en este proceso hemos forjado fuertes vínculos con algunos referentes de esta actividad. Los admiramos, y te invitamos a conocer los caminos y aventuras de estos cicloturistas a través de sus redes sociales.</p>
            </div>
            <div class="cicloturistas-perfiles">
                <a href="https://www.instagram.com/lavidadeviaje/?hl=es-la" target="_blank">
                    <div class="perfil-foto">
                        <p class="perfil-nombre">@lavidadeviaje</p>
                    </div>
                </a>
                <a href="https://www.instagram.com/andar.liviano/?hl=es-la" target="_blank">
                    <div class="perfil-foto">
                        <p class="perfil-nombre">@andar.liviano</p>
                    </div>
                </a>
                <a href="https://www.instagram.com/nacionsalvaje/?hl=es-la" target="_blank">
                    <div class="perfil-foto">
                        <p class="perfil-nombre">@nacionsalvaje</p>
                    </div>
                </a>

                <a href="https://www.instagram.com/todoapedal/?hl=es-la" target="_blank">
                    <div class="perfil-foto">
                        <p class="perfil-nombre">@todoapedal</p>
                    </div>
                </a>
                <a href="https://www.instagram.com/unviajerofrecuente19/?hl=es-la" target="_blank">
                    <div class="perfil-foto">
                        <p class="perfil-nombre">@unviajerofrecuente19</p>
                    </div>
                </a>
                <a href="https://www.instagram.com/natibainotti/?hl=es-la" target="_blank">
                    <div class="perfil-foto">
                        <p class="perfil-nombre">@natibainotti</p>
                    </div>
                </a>
            </div>

            <div class="galeria my-4">
                <h2>GALERIA CON FOTOS</h2>
                <div class="container-fluid gallery-container">
                    <div class="tz-gallery">
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5329.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5329.jpg" alt="Traffic" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-4873.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-4873.jpg" alt="Park" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-4522.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-4522.jpg" alt="Benches" />
                                </a>
                            </div>

                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-4094.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-4094.jpg" alt="Bridge" />
                                </a>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-4429.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-4429.jpg" alt="Tunnel" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-4451.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-4451.jpg" alt="Coast" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-4459.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-4459.jpg" alt="Rails" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-4510.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-4510.jpg" alt="Traffic" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-4517.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-4517.jpg" alt="Rocks" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-4530.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-4530.jpg" alt="Sky" />
                                </a>
                            </div>

                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-4880.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-4880.jpg" alt="Bridge" />
                                </a>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-4894.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-4894.jpg" alt="Tunnel" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-4897.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-4897.jpg" alt="Coast" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-4908.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-4908.jpg" alt="Rails" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-4919.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-4919.jpg" alt="Traffic" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-4921.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-4921.jpg" alt="Rocks" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-4927.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-4927.jpg" alt="Benches" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5012.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5012.jpg" alt="Sky" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5016.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5016.jpg" alt="Park" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5245.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5245.jpg" alt="Bridge" />
                                </a>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5302.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5302.jpg" alt="Tunnel" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5312.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5312.jpg" alt="Coast" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5318.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5318.jpg" alt="Rails" />
                                </a>
                            </div>

                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5344.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5344.jpg" alt="Rocks" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5350.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5350.jpg" alt="Benches" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5361.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5361.jpg" alt="Sky" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5365.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5365.jpg" alt="Park" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5383.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5383.jpg" alt="Bridge" />
                                </a>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5402.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5402.jpg" alt="Tunnel" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5425.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5425.jpg" alt="Coast" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5429.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5429.jpg" alt="Rails" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5445.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5445.jpg" alt="Traffic" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5495.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5495.jpg" alt="Rocks" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5586.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5586.jpg" alt="Benches" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5836.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5836.jpg" alt="Sky" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5838.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5838.jpg" alt="Park" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5843.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5843.jpg" alt="Bridge" />
                                </a>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5848.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5848.jpg" alt="Tunnel" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5849.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5849.jpg" alt="Coast" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5875.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5875.jpg" alt="Rails" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5890.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5890.jpg" alt="Traffic" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5912.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5912.jpg" alt="Rocks" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5930.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5930.jpg" alt="Benches" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5996.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-5996.jpg" alt="Sky" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-6004.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-6004.jpg" alt="Park" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-6009.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-6009.jpg" alt="Bridge" />
                                </a>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-6037.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-6037.jpg" alt="Tunnel" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-ENE19-4322.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-ENE19-4322.jpg" alt="Coast" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-ENE19-4322.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-ENE19-4322.jpg" alt="Rails" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-ENE19-4326.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-ENE19-4326.jpg" alt="Traffic" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-ENE19-4356.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-ENE19-4356.jpg" alt="Rocks" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-ENE19-4364.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-ENE19-4364.jpg" alt="Benches" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-ENE19-4404.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-ENE19-4404.jpg" alt="Sky" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-ENE19-4425.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-ENE19-4425.jpg" alt="Park" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-ENE19-4676.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-ENE19-4676.jpg" alt="Bridge" />
                                </a>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-ENE19-4700.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-ENE19-4700.jpg" alt="Tunnel" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-FEB19-4742.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-FEB19-4742.jpg" alt="Coast" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-FEB19-4751.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-FEB19-4751.jpg" alt="Rails" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-FEB19-4764.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-FEB19-4764.jpg" alt="Traffic" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-FEB19-4769.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-FEB19-4769.jpg" alt="Rocks" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-FEB19-4782.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-FEB19-4782.jpg" alt="Benches" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-FEB19-4801.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-FEB19-4801.jpg" alt="Sky" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-FEB19-4852.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-FEB19-4852.jpg" alt="Park" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-FEB19-4858.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/LVDV-VENZO-ALTA-FEB19-4858.jpg" alt="Bridge" />
                                </a>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/Traveler(1).jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/Traveler(1).jpg" alt="Tunnel" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/Traveler(2).jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/Traveler(2).jpg" alt="Coast" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/Traveler(3).jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/Traveler(3).jpg" alt="Rails" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/Traveler(4).jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/Traveler(4).jpg" alt="Traffic" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/VENZO-LVDV-ALTA-5065.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/VENZO-LVDV-ALTA-5065.jpg" alt="Rocks" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/VENZO-LVDV-ALTA-5081.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/VENZO-LVDV-ALTA-5081.jpg" alt="Benches" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/VENZO-LVDV-ALTA-5127.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/VENZO-LVDV-ALTA-5127.jpg" alt="Sky" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/VENZO-LVDV-ALTA-5140.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/VENZO-LVDV-ALTA-5140.jpg" alt="Park" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/VENZO-LVDV-ALTA-5146.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/VENZO-LVDV-ALTA-5146.jpg" alt="Bridge" />
                                </a>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/VENZO-LVDV-ALTA-5165.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/VENZO-LVDV-ALTA-5165.jpg" alt="Tunnel" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/VENZO-LVDV-ALTA-5170.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/VENZO-LVDV-ALTA-5170.jpg" alt="Coast" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/VENZO-LVDV-ALTA-5183.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/VENZO-LVDV-ALTA-5183.jpg" alt="Rails" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/VENZO-LVDV-ALTA-5205.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/VENZO-LVDV-ALTA-5205.jpg" alt="Traffic" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/VENZO-LVDV-ALTA-5212.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/VENZO-LVDV-ALTA-5212.jpg" alt="Rocks" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/VENZO-LVDV-ALTA-5219.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/VENZO-LVDV-ALTA-5219.jpg" alt="Benches" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/VENZO-LVDV-ALTA-5222.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/VENZO-LVDV-ALTA-5222.jpg" alt="Sky" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/VENZO-LVDV-ALTA-5222.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/VENZO-LVDV-ALTA-5222.jpg" alt="Sky" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/VENZO-LVDV-ALTA-5223.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/VENZO-LVDV-ALTA-5223.jpg" alt="Sky" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/Venzo-Traveler-celeste-01.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/Venzo-Traveler-celeste-01.jpg" alt="Sky" />
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a target="blank" class="lightbox" href="../../img/cicloturistas/galeria comprimida/Venzo-Traveler-negro-01.jpg">
                                    <img src="../../img/cicloturistas/galeria comprimida/Venzo-Traveler-negro-01.jpg" alt="Sky" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="footer-container">
                <div class="telefono"><i class="fas fa-phone-alt fa-2x"></i>+54 9 0351 493606</div>
                <div class="mail"><i class="fas fa-envelope fa-2x"></i>info@karabitian.com.ar</div>
                <div class="localidad"><i class="fas fa-map-marker-alt fa-2x"></i>Córdoba - Argentina</div>
            </div>
            <div class="footer-container">
                <div class="logo">
                    <img src="/img/logo2.png" alt="" />
                </div>
                <div class="redes">
                    <a href="https://www.facebook.com/GrupoCarlosKarabitian/" target="_blank"><i class="fab fa-facebook-f fa-3x"></i></a>
                    <a href="https://www.instagram.com/grupocarloskarabitian/" target="_blank"><i class="fab fa-instagram fa-3x"></i></a>
                    <a href="https://www.youtube.com/channel/UCtyDto8JGPKGj4dGdTMic_g" target="_blank"><i class="fab fa-youtube fa-3x"></i></a>
                </div>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    </body>
</html>
