@import "../../css/variables";

.team-venzo {
    .team-venzo__img {
        width: 100%;
        height: 90vh;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .team-venzo__resumen {
        display: flex;
        flex-direction: column;

        .resumen-txt {
            margin: 50px auto;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h2 {
                color: white;
                font-family: $primary-font;
                font-size: 40px;
                letter-spacing: 3px;
            }

            p {
                color: white;
                font-family: $secondary-font;
                font-size: 22px;
            }
        }

        .resumen-img {
            width: 100%;
            background-color: #e0e0e0;
            img {
                width: 100%;
            }
        }
    }

    .team-venzo__categorias {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            font-family: $primary-font;
            color: white;
            font-size: 30px;
            letter-spacing: 2px;
        }

        .categorias-container {
            background-color: #e0e0e0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .categorias {
                display: flex;
                justify-content: center;

                .juveniles,
                .elite,
                .master {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 50px;

                    .miembros {
                        display: flex;
                    }

                    h3 {
                        font-family: $primary-font;
                        letter-spacing: 2px;
                        background-color: $secondary;
                        text-align: center;
                        font-size: 25px;
                    }
                }
            }
        }

        ul {
            list-style: none;
            margin: 20px;

            li {
                font-family: $secondary-font;
                font-size: 1.5em;
            }
        }
    }
}

@media (max-width: $S), (max-width: $M), (max-width: $L), (max-width: $XL) {
    .team-venzo {
        .team-venzo__resumen {
            .resumen-txt {
                h2 {
                    font-size: 30px;
                }

                p {
                    font-size: 15px;
                }
            }
        }

        ul {
            list-style: none;
            margin: 20px;

            li {
                font-family: $secondary-font;
                font-size: 15px;
            }
        }

        a {
            background-color: white;
            border-radius: 28px;
            border: 1px solid white;
            display: inline-block;
            cursor: pointer;
            color: $primary;
            font-family: Arial;
            font-size: 23px;
            padding: 10px 40px;
            text-decoration: none;
            text-shadow: 0px 1px 0px $primary;
        }
    }
}
