<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous" />
        <link rel="stylesheet" href="../../css/style.css" />
        <script src="script.js"></script>
        <title>Carlos Karabitian - Agente oficial Shimano.</title>
    </head>
    <body>
        <nav class="navbar navbar-dark navbar-expand-lg nav-container py-4">
            <a class="navbar-brand brand-mobile" href="#" style="width: 25%;"><img src="../../img/logo2.png" class="img-fluid" alt="logo" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav ml-5">
                    <li class="nav-item nav-item-style mx-1">
                        <a class="nav-link" href="../../index.html">INICIO<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item nav-item-style mx-1">
                        <a class="nav-link" href="../empresa/empresa.html">LA EMPRESA</a>
                    </li>
                    <li class="nav-item nav-item-style mx-1">
                        <a class="nav-link active" href="#">
                            TEAM VENZO
                        </a>
                    </li>
                    <li class="nav-item nav-item-style mx-1">
                        <a class="nav-link" href="../productos/productos.html">PRODUCTOS</a>
                    </li>
                    <li class="nav-item nav-item-style mx-1">
                        <a class="nav-link" href="../cicloturistas/cicloturistas.html">CICLOTURISTAS</a>
                    </li>
                    <li class="nav-item nav-item-style ml-1 mr-3">
                        <a class="nav-link" href="../contacto/contacto.html">CONTACTO</a>
                    </li>
                </ul>
            </div>
        </nav>

        <section class="team-venzo">
            <div class="team-venzo__img">
                <img src="../../img/Team Venzo/Banner principal/banner prinicpal team venzo-24.png" alt="" class="img-fluid w-100" />
            </div>
            <div class="team-venzo__resumen">
                <div class="resumen-txt">
                    <h2>resumen 2019</h2>
                    <p>Si bien nuestros objetivos se renuevan cada año, como equipo sostenemos metas. Queremos obtener los mejores resultados en clasificaciones generales en las competencias que se participe y alcanzar la mayor cantidad de campeonatos posibles (Regionales, Nacionales e Internacionales). Continuamos alentando a los corredores para ser influencers positivos tanto en ámbitos deportivos como sociales, a respetar códigos de convivencia interna como miembro del Team y respetar, siempre, el JUEGO LIMPIO- NO DOPING.</p>
                </div>
                <div class="resumen-img mx-3">
                    <img src="../../img/Team Venzo/Resumen 2019/resumen-26.png" class="img-fluid" alt="" />
                </div>
            </div>
            <div class="team-venzo__categorias">
                <h2 class="my-4">catogorias</h2>
                <div class="categorias-container">
                    <div class="categorias">
                        <div class="juveniles">
                            <h3 class="p-2">categoria juveniles</h3>
                            <div class="miembros">
                                <div class="juveniles-izquierda">
                                    <ul>
                                        <li>rivero silvio</li>
                                        <li>contreras bruno</li>
                                        <li>carrizo matias</li>
                                        <li>parada edgar</li>
                                        <li>macazaga isidro</li>
                                        <li>causich maximiliano</li>
                                        <li>gay luciano</li>
                                        <li>zorzenon francisco</li>
                                    </ul>
                                </div>
                                <div class="juveniles-derecha">
                                    <ul>
                                        <li>gonzales sofia</li>
                                        <li>pereyra solange</li>
                                        <li>ozan rocio</li>
                                        <li>reyes facundo</li>
                                        <li>arce nicoll</li>
                                        <li>montero venus</li>
                                        <li>molina gonzalo</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="elite">
                            <h3 class="p-2">CATEGORIA ELITE</h3>
                            <ul>
                                <li>contreras fernando</li>
                                <li>contreras andres</li>
                                <li>sainz julieta</li>
                                <li>caballero lucas</li>
                                <li>garitano alan</li>
                                <li>fredes enzo</li>
                                <li>avila florencia</li>
                                <li>bravo macarena</li>
                                <li>flores federico</li>
                                <li>ibarra franco</li>
                                <li>lia garcia</li>
                            </ul>
                        </div>
                        <div class="master">
                            <h3 class="p-2">catergoria master</h3>
                            <div class="miembros">
                                <div class="master-izquierda">
                                    <ul>
                                        <li>schwaillier julio</li>
                                        <li>medina carlos</li>
                                        <li>basualdo eduardo</li>
                                        <li>correa walter</li>
                                        <li>maldonado pablo</li>
                                        <li>navarro pedro</li>
                                        <li>diaz ramon</li>
                                        <li>campos walter</li>
                                        <li>lloyd willy</li>
                                        <li>caballero pablo</li>
                                        <li>gonzales alejandro</li>
                                        <li>franco ibarra</li>
                                        <li>sergio perez</li>
                                    </ul>
                                </div>
                                <div class="master-derecha">
                                    <ul>
                                        <li>sergio perez</li>
                                        <li>alos adriana</li>
                                        <li>de bernardi alejandra</li>
                                        <li>menini angel</li>
                                        <li>escobar carlos</li>
                                        <li>britos diego</li>
                                        <li>reyna dario</li>
                                        <li>frias emilio</li>
                                        <li>alveroni franco</li>
                                        <li>facchin gabriel</li>
                                        <li>bravo gisella</li>
                                        <li>diaz galdys</li>
                                        <li>carbone gustavo</li>
                                        <li>sufan jorge</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-venzo__feed my-4">
                <div class="elfsight-app-e20891f2-395a-4750-b747-d992590826bb"></div>
            </div>
        </section>

        <footer>
            <div class="footer-container">
                <div class="telefono"><i class="fas fa-phone-alt fa-2x"></i>+54 9 0351 493606</div>
                <div class="mail"><i class="fas fa-envelope fa-2x"></i>info@karabitian.com.ar</div>
                <div class="localidad"><i class="fas fa-map-marker-alt fa-2x"></i>Córdoba - Argentina</div>
            </div>
            <div class="footer-container">
                <div class="logo">
                    <img src="/img/logo2.png" alt="" />
                </div>
                <div class="redes">
                    <a href="https://www.facebook.com/GrupoCarlosKarabitian/" target="_blank"><i class="fab fa-facebook-f fa-3x"></i></a>
                    <a href="https://www.instagram.com/grupocarloskarabitian/" target="_blank"><i class="fab fa-instagram fa-3x"></i></a>
                    <a href="https://www.youtube.com/channel/UCtyDto8JGPKGj4dGdTMic_g" target="_blank"><i class="fab fa-youtube fa-3x"></i></a>
                </div>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    </body>
</html>
