<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="../../css/style.css" />
        <title>Carlos Karabitian - Agente oficial Shimano.</title>
    </head>
    <body>
        <header>
            <div id="nav-container" class="nav-container">
                <div class="logo">
                    <a href="#"><img src="../../img/logo2.png" alt="" /></a>
                </div>
                <nav class="navbar" id="navbar">
                    <ul>
                        <li><a href="../../index.html">INICIO</a></li>
                        <li><a href="#">LA EMPRESA</a></li>
                        <li><a href="../teamVenzo/teamVenzo.html">TEAM VENZO</a></li>
                        <li><a href="../productos/productos.html">PRODUCTOS</a></li>
                        <li><a href="../cicloturistas/cicloturistas.html">CICLOTURISTAS</a></li>
                        <li><a href="../contacto/contacto.html">CONTACTO</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <section class="empresa">
            <div class="empresa-container">
                <h2>LA EMPRESA</h2>
                <div class="empresa-img">
                    <div class="empresa-txt">
                        <p>
                            GCK es una marca dedicada a la distribución y comercialización de bicicletas, repuestos y accesorios en todo el país. Nació en 1950 como negocio familiar y fue creciendo hasta alcanzar lo que es hoy. Lo que somos hoy. Un grupo de especialistas, listos para asesorarte y equipar las bicicleterías de Argentina con absolutamente todo lo que el ciclista puede necesitar. Somos vendedores exclusivos de una marca tan reconocida como Venzo y contamos con productos de todas las primeras marcas del rubro.
                        </p>
                        <p>
                            Nuestro objetivo es fomentar el ciclismo, actividad que nos apasiona, aportando los insumos necesarios y asesorando a los aventureros que a esto se dedican.
                        </p>
                    </div>
                </div>
            </div>
            <div class="empresa-valores">
                <div class="valores-container">
                    <h3>MISION</h3>
                    <p>Proveer a todas las bicicleterías del país el equipamiento necesario para desempeñarse en su actividad.</p>
                </div>
                <div class="valores-container">
                    <h3>VISION</h3>
                    <p>Ser el referente número 1 en el rubro del ciclismo a nivel nacional.</p>
                </div>
                <div class="valores-container">
                    <h3>VALORES</h3>
                    <p>Honradez, perseverancia, exigencia, calidad, honestidad, esfuerzo, experiencias, respeto, equipo, hábitos saludables, seriedad, humildad, sacrificio, pasión.</p>
                </div>
            </div>
        </section>
    </body>
</html>
