@import "../variables";

.nav-item-style {
    text-decoration: none;
    font-size: 2.2em;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
}

.nav-item-style:hover {
    box-shadow: 0px 0px 35px 3px $secondary;
}

.carousel-item {
    height: 90vh;
}

.main-container {
    width: 100%;
    height: auto;
    z-index: -15;

    .fortalezas {
        width: 100%;
        height: 110vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .top,
        .low {
            width: 100%;
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;

            .alcance-container,
            .variedad-container {
                width: 40%;
                height: 16vh;
                box-shadow: $shadow;
                display: flex;
                background-color: $primary;
                font-size: 0.9em;
            }

            .alcance-container .alcance-img,
            .variedad-container .variedad-img {
                width: 30%;
                height: 100%;
                border-right: 2px solid $secondary;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .alcance-container .alcance-txt,
            .variedad-container .variedad-txt {
                width: 70%;
                height: 100%;
                margin-left: 5px;
                margin-top: 5px;

                h3 {
                    font-size: 2.8em;
                    color: $secondary;
                }

                p {
                    font-size: 1.5em;
                    color: #ffffff;
                }
            }
        }

        .mid {
            width: 97%;
            height: 60%;
            display: flex;
            justify-content: space-evenly;

            .izquierda,
            .derecha {
                width: 40%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .izquierda .arriba,
            .izquierda .central,
            .izquierda .abajo,
            .derecha .arriba,
            .derecha .central,
            .derecha .abajo {
                width: 90%;
                height: 16vh;
                box-shadow: $shadow;
                display: flex;
                align-items: center;
                background-color: $primary;
                font-size: 0.9em;
            }

            .izquierda .arriba,
            .izquierda .abajo {
                align-self: flex-end;
            }

            .derecha .central {
                align-self: flex-end;
            }

            .centro {
                width: 30%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .info-container {
                    width: 50%;
                    height: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    h3 {
                        text-align: center;
                        color: #ffffff;
                    }

                    a {
                        background-color: #ffffff;
                        width: 100%;
                        height: 15%;
                        border-radius: 20px;
                        font-size: 2.2em;
                        z-index: 15;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        color: $primary;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }

            .experiencia-container .experiencia-img,
            .conocimiento-container .conocimiento-img,
            .distribucion-container .distribucion-img,
            .garantia-container .garantia-img,
            .postventa-container .postventa-img,
            .asesoramiento-container .asesoramiento-img {
                width: 30%;
                height: 100%;
                border-right: 2px solid $secondary;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .experiencia-container .experiencia-txt,
            .conocimiento-container .conocimiento-txt,
            .distribucion-container .distribucion-txt,
            .garantia-container .garantia-txt,
            .postventa-container .postventa-txt,
            .asesoramiento-container .asesoramiento-txt {
                width: 70%;
                height: 100%;
                margin-left: 5px;

                h3 {
                    font-size: 2.8em;
                    color: $secondary;
                }

                p {
                    font-size: 1.5em;
                    color: #ffffff;
                }
            }
        }

        .circulo-exterior {
            position: absolute;
            z-index: -2;
            background-color: $secondary;
            width: 35vw;
            height: 70vh;
            border-radius: 50%;
            box-shadow: $shadow;
        }

        .circulo-interior {
            position: absolute;
            z-index: -2;
            background-color: $primary;
            width: 23%;
            height: 43%;
            border-radius: 50%;
            box-shadow: $shadow;
        }
    }
}

.principales-marcas {
    width: 100%;
    height: auto;
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    h2 {
        text-align: center;
        color: $primary;
        background-color: $secondary;
        font-size: 4em;
    }

    .marcas-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 40vh;
        background-color: #fff;

        .item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25%;

            img {
                height: 100%;
                width: 100%;
            }
        }
    }

    .ver-mas {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18%;
        border-radius: 20px;
        background-color: $primary;
        border: none;
        font-family: $secondary-font;
        font-size: 2.2em;
        color: white;
        padding: 16px 31px;
        text-decoration: none;

        &:active {
            position: relative;
            top: 1px;
        }
    }
}

.ig-feed {
    width: 100%;
    background-color: $secondary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    h2 {
        margin-top: 50px;
        letter-spacing: 2px;
        font-size: 4em;
        background-color: $primary;
        color: #ffffff;
        text-align: center;
    }

    .feed-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .ig-title {
            width: 30%;
            background-color: $primary;
            color: white;
            font-family: $primary-font;
            font-weight: 400;
            font-size: 2.4em;
        }
    }
}

.slick-track {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .item {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 10% !important;

        img {
            height: 20% !important;
        }
    }
}

@media only screen and (min-width: 325px) and (max-width: 425px) {
    .carousel {
        width: 100%;
        height: 25vh;

        .carousel-inner {
            height: 100%;
            background-color: #fff;

            .carousel-item {
                height: 100%;

                img {
                    height: 100%;
                }
            }
        }
    }

    .main-container {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-size: 2em;
        }

        p {
            font-size: 1.1em;
        }
        .fortalezas {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            margin: 50px auto;

            .top,
            .low {
                width: 100%;
                height: 20%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .alcance-container,
                .variedad-container {
                    width: 90%;
                    flex-direction: column;
                    align-items: center;
                    height: auto;
                }

                .alcance-container .alcance-img,
                .variedad-container .variedad-img {
                    width: 30%;
                    height: 100%;
                    border-right: none;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .alcance-container .alcance-txt,
                .variedad-container .variedad-txt {
                    width: 70%;
                    height: 100%;
                    margin-left: 5px;
                    margin-top: 5px;

                    h3 {
                        font-size: 2.8em;
                        color: $secondary;
                        text-align: center;
                    }

                    p {
                        font-size: 1.5em;
                        color: #ffffff;
                    }
                }
            }

            .mid {
                width: 100%;
                height: 60%;
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;

                .izquierda,
                .derecha {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;

                    .central {
                        align-self: center;
                    }

                    .arriba,
                    .central,
                    .abajo {
                        width: 90%;
                        height: auto;
                        margin: 20px 0;
                        flex-direction: column;
                        align-items: center;
                        align-self: center;
                    }
                }

                .centro {
                    display: none;
                }

                .experiencia-container .experiencia-img,
                .conocimiento-container .conocimiento-img,
                .distribucion-container .distribucion-img,
                .garantia-container .garantia-img,
                .postventa-container .postventa-img,
                .asesoramiento-container .asesoramiento-img {
                    width: 30%;
                    height: 100%;
                    border-right: none;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .experiencia-container .experiencia-txt,
                .conocimiento-container .conocimiento-txt,
                .distribucion-container .distribucion-txt,
                .garantia-container .garantia-txt,
                .postventa-container .postventa-txt,
                .asesoramiento-container .asesoramiento-txt {
                    width: 70%;
                    height: 100%;
                    margin-left: 5px;

                    h3 {
                        font-size: 2.8em;
                        color: $secondary;
                        text-align: center;
                    }

                    p {
                        text-align: center;
                        font-size: 1.5em;
                        color: #ffffff;
                    }
                }
            }

            .circulo-exterior,
            .circulo-interior {
                display: none;
            }
        }

        .principales-marcas {
            width: 100%;
            height: auto;
            background-color: #e0e0e0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            h2 {
                font-size: 3em;
                width: auto;
            }

            .marcas-container {
                .item {
                    width: 10vw;
                    height: 5vh;
                    margin: 1vw;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .ver-mas {
                width: 60%;

                &:active {
                    position: relative;
                    top: 1px;
                }
            }
        }

        .ig-feed {
            width: 100%;
            background-color: $secondary;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            h2 {
                margin-top: 50px;
                letter-spacing: 2px;
                font-size: 4em;
                font-family: $primary-font;
                background-color: $primary;
                color: white;
                text-align: center;
            }

            .feed-container {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .ig-title {
                    width: auto;
                    text-align: center;
                }
            }
        }
    }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
    .carousel {
        width: 100%;
        height: 45vh;

        .carousel-inner {
            height: 100%;
            background-color: #fff;

            .carousel-item {
                height: 100%;

                img {
                    height: 100%;
                }
            }
        }
    }

    .main-container {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-size: 2em;
        }

        p {
            font-size: 1.1em;
        }
        .fortalezas {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            margin: 50px auto;

            .top,
            .low {
                width: 100%;
                height: 20%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .alcance-container,
                .variedad-container {
                    width: 90%;
                    flex-direction: column;
                    align-items: center;
                    height: auto;
                }

                .alcance-container .alcance-img,
                .variedad-container .variedad-img {
                    width: 30%;
                    height: 100%;
                    border-right: none;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .alcance-container .alcance-txt,
                .variedad-container .variedad-txt {
                    width: 70%;
                    height: 100%;
                    margin-left: 5px;
                    margin-top: 5px;

                    h3 {
                        font-size: 2.8em;
                        color: $secondary;
                        text-align: center;
                    }

                    p {
                        font-size: 1.5em;
                        color: #ffffff;
                    }
                }
            }

            .mid {
                width: 100%;
                height: 60%;
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;

                .izquierda,
                .derecha {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;

                    .central {
                        align-self: center;
                    }

                    .arriba,
                    .central,
                    .abajo {
                        width: 90%;
                        height: auto;
                        margin: 20px 0;
                        flex-direction: column;
                        align-items: center;
                        align-self: center;
                    }
                }

                .centro {
                    display: none;
                }

                .experiencia-container .experiencia-img,
                .conocimiento-container .conocimiento-img,
                .distribucion-container .distribucion-img,
                .garantia-container .garantia-img,
                .postventa-container .postventa-img,
                .asesoramiento-container .asesoramiento-img {
                    width: 30%;
                    height: 100%;
                    border-right: none;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .experiencia-container .experiencia-txt,
                .conocimiento-container .conocimiento-txt,
                .distribucion-container .distribucion-txt,
                .garantia-container .garantia-txt,
                .postventa-container .postventa-txt,
                .asesoramiento-container .asesoramiento-txt {
                    width: 70%;
                    height: 100%;
                    margin-left: 5px;

                    h3 {
                        font-size: 2.8em;
                        color: $secondary;
                        text-align: center;
                    }

                    p {
                        text-align: center;
                        font-size: 1.5em;
                        color: #ffffff;
                    }
                }
            }

            .circulo-exterior,
            .circulo-interior {
                display: none;
            }
        }

        .principales-marcas {
            width: 100%;
            height: auto;
            background-color: #e0e0e0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            h2 {
                font-size: 3em;
                width: auto;
            }

            .marcas-container {
                .item {
                    width: 10vw;
                    height: 5vh;
                    margin: 1vw;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .ver-mas {
                width: 60%;

                &:active {
                    position: relative;
                    top: 1px;
                }
            }
        }

        .ig-feed {
            width: 100%;
            background-color: $secondary;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            h2 {
                margin-top: 50px;
                letter-spacing: 2px;
                font-size: 4em;
                font-family: $primary-font;
                background-color: $primary;
                color: white;
                text-align: center;
            }

            .feed-container {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .ig-title {
                    width: auto;
                    text-align: center;
                }
            }
        }
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .carousel {
        width: 100%;
        height: 65vh;

        .carousel-inner {
            height: 100%;
            background-color: #fff;

            .carousel-item {
                height: 100%;

                img {
                    height: 100%;
                }
            }
        }
    }

    .main-container {
        width: 100%;
        height: auto;
        z-index: -15;

        .fortalezas {
            width: 100%;
            height: 110vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .top,
            .low {
                width: 100%;
                height: 20%;
                display: flex;
                justify-content: center;
                align-items: center;

                .alcance-container,
                .variedad-container {
                    width: 60%;
                    height: 16vh;
                    box-shadow: $shadow;
                    display: flex;
                    background-color: $primary;
                }

                .alcance-container .alcance-img,
                .variedad-container .variedad-img {
                    width: 30%;
                    height: 100%;
                    border-right: 2px solid $secondary;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .alcance-container .alcance-txt,
                .variedad-container .variedad-txt {
                    width: 70%;
                    height: 100%;
                    margin-left: 5px;
                    margin-top: 5px;

                    h3 {
                        font-size: 2.3em;
                        color: $secondary;
                    }

                    p {
                        font-size: 1em;
                        color: #ffffff;
                    }
                }
            }

            .mid {
                width: 97%;
                height: 60%;
                display: flex;
                justify-content: space-evenly;

                .izquierda,
                .derecha {
                    width: 40%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .arriba,
                    .central,
                    .abajo {
                        width: 95%;
                        height: 16vh;
                        box-shadow: $shadow;
                        display: flex;
                        align-items: center;
                        background-color: $primary;
                    }
                }

                .izquierda .arriba,
                .izquierda .abajo {
                    align-self: flex-end;
                }

                .derecha .central {
                    align-self: flex-end;
                }

                .centro {
                    width: 30%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .info-container {
                        width: 50%;
                        height: 50%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        h3 {
                            text-align: center;
                            color: #ffffff;
                        }

                        a {
                            background-color: #ffffff;
                            width: 100%;
                            height: 15%;
                            border-radius: 20px;
                            font-size: 2.2em;
                            z-index: 15;
                            text-align: center;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                            color: $primary;

                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                }

                .experiencia-container .experiencia-img,
                .conocimiento-container .conocimiento-img,
                .distribucion-container .distribucion-img,
                .garantia-container .garantia-img,
                .postventa-container .postventa-img,
                .asesoramiento-container .asesoramiento-img {
                    width: 30%;
                    height: 100%;
                    border-right: 2px solid $secondary;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .experiencia-container .experiencia-txt,
                .conocimiento-container .conocimiento-txt,
                .distribucion-container .distribucion-txt,
                .garantia-container .garantia-txt,
                .postventa-container .postventa-txt,
                .asesoramiento-container .asesoramiento-txt {
                    width: 70%;
                    height: 100%;
                    margin-left: 5px;

                    h3 {
                        font-size: 2.3em;
                        color: $secondary;
                    }

                    p {
                        font-size: 1em;
                        color: #ffffff;
                    }
                }
            }

            .circulo-exterior {
                width: 40vw;
                height: 50vh;
            }

            .circulo-interior {
                position: absolute;
                z-index: -2;
                background-color: $primary;
                width: 28vw;
                height: 35vh;
                border-radius: 50%;
                box-shadow: $shadow;
            }
        }

        .ig-feed {
            .feed-container {
                .ig-title {
                    width: 35%;
                    background-color: $primary;
                    color: white;
                    font-family: $secondary-font;
                    font-weight: 400;
                    font-size: 2.4em;
                }
            }
        }
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .main-container {
        .fortalezas {
            .top,
            .low {
                width: 100%;
                height: 20%;
                display: flex;
                justify-content: center;
                align-items: center;

                .alcance-container,
                .variedad-container {
                    width: 45%;
                    height: 16vh;
                    box-shadow: $shadow;
                    display: flex;
                    background-color: $primary;
                }

                .alcance-container .alcance-img,
                .variedad-container .variedad-img {
                    width: 30%;
                    height: 100%;
                    border-right: 2px solid $secondary;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .alcance-container .alcance-txt,
                .variedad-container .variedad-txt {
                    width: 70%;
                    height: 100%;
                    margin-left: 5px;
                    margin-top: 5px;

                    h3 {
                        font-size: 2em;
                        color: $secondary;
                    }

                    p {
                        font-size: 1.3em;
                        color: #ffffff;
                    }
                }
            }

            .mid {
                width: 97%;
                height: 60%;
                display: flex;
                justify-content: space-evenly;

                .izquierda,
                .derecha {
                    .arriba,
                    .central,
                    .abajo {
                        width: 95%;
                        height: 16vh;
                    }
                }

                .centro {
                    width: 30%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .info-container {
                        width: 50%;
                        height: 50%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        h3 {
                            text-align: center;
                            color: #ffffff;
                        }

                        a {
                            background-color: #ffffff;
                            width: 100%;
                            height: 15%;
                            border-radius: 20px;
                            font-size: 2.2em;
                            z-index: 15;
                            text-align: center;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                            color: $primary;

                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                }

                .experiencia-container .experiencia-img,
                .conocimiento-container .conocimiento-img,
                .distribucion-container .distribucion-img,
                .garantia-container .garantia-img,
                .postventa-container .postventa-img,
                .asesoramiento-container .asesoramiento-img {
                    width: 30%;
                    height: 100%;
                    border-right: 2px solid $secondary;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .experiencia-container .experiencia-txt,
                .conocimiento-container .conocimiento-txt,
                .distribucion-container .distribucion-txt,
                .garantia-container .garantia-txt,
                .postventa-container .postventa-txt,
                .asesoramiento-container .asesoramiento-txt {
                    width: 70%;
                    height: 100%;
                    margin-left: 5px;

                    h3 {
                        font-size: 2em;
                        color: $secondary;
                    }

                    p {
                        font-size: 1.3em;
                        color: #ffffff;
                    }
                }
            }

            .circulo-exterior {
                width: 40vw;
                height: 65vh;
            }

            .circulo-interior {
                position: absolute;
                z-index: -2;
                background-color: $primary;
                width: 28vw;
                height: 45.5vh;
                border-radius: 50%;
                box-shadow: $shadow;
            }
        }

        .ig-feed {
            .feed-container {
                .ig-title {
                    width: 35%;
                    background-color: $primary;
                    color: white;
                    font-family: $secondary-font;
                    font-weight: 400;
                    font-size: 2.4em;
                }
            }
        }
    }
}
