@import "../variables";

.nav-item-style {
    text-decoration: none;
    font-size: 23px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
}

.nav-item-style:hover {
    box-shadow: 0px 0px 35px 3px $secondary;
}

.carousel-item {
    height: 90vh;
}

.main-container {
    width: 100%;
    height: auto;
    z-index: -15;

    .fortalezas {
        width: 100%;
        height: 110vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .top,
        .low {
            width: 100%;
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;

            .alcance-container,
            .variedad-container {
                width: 40%;
                height: 16vh;
                box-shadow: $shadow;
                display: flex;
                background-color: $primary;
            }

            .alcance-container .alcance-img,
            .variedad-container .variedad-img {
                width: 30%;
                height: 100%;
                border-right: 2px solid $secondary;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .alcance-container .alcance-txt,
            .variedad-container .variedad-txt {
                width: 70%;
                height: 100%;
                margin-left: 5px;

                h3 {
                    font-size: 25px;
                    color: $secondary;
                }

                p {
                    font-size: 18px;
                    color: #ffffff;
                }
            }
        }

        .mid {
            width: 97%;
            height: 60%;
            display: flex;
            justify-content: space-evenly;

            .izquierda,
            .derecha {
                width: 40%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .izquierda .arriba,
            .izquierda .central,
            .izquierda .abajo,
            .derecha .arriba,
            .derecha .central,
            .derecha .abajo {
                width: 90%;
                height: 16vh;
                box-shadow: $shadow;
                display: flex;
                align-items: center;
                background-color: $primary;
            }

            .izquierda .arriba,
            .izquierda .abajo {
                align-self: flex-end;
            }

            .derecha .central {
                align-self: flex-end;
            }

            .centro {
                width: 30%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .info-container {
                    width: 50%;
                    height: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    h3 {
                        text-align: center;
                        color: #ffffff;
                    }

                    a {
                        background-color: #ffffff;
                        width: 100%;
                        text-align: center;
                        height: 15%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 22px;
                        border-radius: 20px;
                        cursor: pointer;
                        z-index: 15;
                        color: $primary;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }

            .experiencia-container .experiencia-img,
            .conocimiento-container .conocimiento-img,
            .distribucion-container .distribucion-img,
            .garantia-container .garantia-img,
            .postventa-container .postventa-img,
            .asesoramiento-container .asesoramiento-img {
                width: 30%;
                height: 100%;
                border-right: 2px solid $secondary;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .experiencia-container .experiencia-txt,
            .conocimiento-container .conocimiento-txt,
            .distribucion-container .distribucion-txt,
            .garantia-container .garantia-txt,
            .postventa-container .postventa-txt,
            .asesoramiento-container .asesoramiento-txt {
                width: 70%;
                height: 100%;
                margin-left: 5px;

                h3 {
                    font-size: 25px;
                    color: $secondary;
                }

                p {
                    font-size: 18px;
                    color: #ffffff;
                }
            }
        }

        .circulo-exterior {
            position: absolute;
            z-index: -2;
            background-color: $secondary;
            width: 35vw;
            height: 70vh;
            border-radius: 50%;
            box-shadow: $shadow;
        }

        .circulo-interior {
            position: absolute;
            z-index: -2;
            background-color: $primary;
            width: 23%;
            height: 43%;
            border-radius: 50%;
            box-shadow: $shadow;
        }
    }
}

.principales-marcas {
    width: 100%;
    height: auto;
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    h2 {
        text-align: center;
        font-family: $secondary-font;
        color: $primary;
        background-color: $secondary;
        width: 30%;
    }

    .marcas-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 25vh;
        background-color: #fff;

        .item {
            width: 10vw;
            height: 5vh;
            margin: 1vw;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .ver-mas {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18%;
        border-radius: 20px;
        background-color: $primary;
        border: none;
        font-family: $secondary-font;
        font-size: 23px;
        color: white;
        padding: 16px 31px;
        text-decoration: none;

        &:active {
            position: relative;
            top: 1px;
        }
    }
}

.ig-feed {
    width: 100%;
    background-color: $secondary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    h2 {
        margin-top: 50px;
        letter-spacing: 2px;
        font-size: 40px;
        font-family: $primary-font;
        background-color: $primary;
        color: white;
        text-align: center;
    }

    .feed-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .ig-title {
            width: 20%;
            background-color: $primary;
            color: white;
            font-family: $secondary-font;
            font-weight: 400;
            font-size: 20px;
        }
    }
}

@media (max-width: $S), (max-width: $M), (max-width: $L), (max-width: $XL) {
    .brand-mobile {
        width: 45%;
    }

    #img-container {
        width: 100%;
        height: 1900px;
        z-index: 0;

        position: static;

        .fortalezas {
            width: 100%;
            height: 70%;
            display: flex;
            align-items: center;
            flex-direction: column;
            position: static;
            background-color: cornflowerblue;
            border: 2px solid $secondary;

            .circulo-exterior,
            .circulo-interior {
                display: none;
            }

            .top,
            .low {
                width: 100%;
                height: 20%;
                margin: 20px 0;
                position: static;
                visibility: hidden;

                .alcance-container,
                .variedad-container {
                    margin-top: 50px;
                    width: 100%;
                    height: 100%;
                    flex-direction: column;
                    align-items: center;
                }
            }

            .mid {
                flex-direction: column;
                justify-content: space-evenly;
                background-color: #fff;
                height: 100%;
                position: static;

                .izquierda,
                .derecha {
                    width: 100%;

                    .arriba,
                    .central,
                    .abajo {
                        width: 100%;
                        margin: 20px 0;
                    }
                }
                .centro {
                    display: none;
                }
            }
        }

        .principales-marcas {
            h2 {
                font-size: 30px;

                width: 80%;
            }

            .marcas-container {
                overflow: auto;
                height: 15vh;
                .marcas {
                    &:nth-child(1) {
                        width: 20%;
                    }

                    &:nth-child(2) {
                        width: 20%;
                    }

                    &:nth-child(3) {
                        width: 20%;
                    }

                    &:nth-child(4) {
                        width: 20%;
                    }

                    &:nth-child(5) {
                        width: 20%;
                    }

                    &:nth-child(6) {
                        width: 20%;
                    }
                }
            }

            .ver-mas {
                font-size: 15px;
                width: 80%;

                &:active {
                    position: relative;
                    top: 1px;
                }
            }
        }

        .ig-feed {
            h2 {
                font-size: 30px;
            }

            .feed-container {
                .ig-title {
                    width: 60%;
                    font-size: 15px;
                }
            }
        }
    }
}
