@import "../../css/variables";

.productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .productos-txt {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        h2 {
            color: $primary;
            background-color: $secondary;
            letter-spacing: 2px;
            width: 15%;
            text-align: center;
            text-transform: uppercase;
        }

        p {
            font-size: 2.2em;
            text-align: center;
            color: white;
        }
    }

    .productos-container__main {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .productos-menu {
            width: 20%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            position: relative;

            .main {
                background-color: $secondary;
                color: $primary;
                align-self: flex-start;
            }

            .prod,
            .brand {
                display: flex;
                align-items: center;
                align-self: flex-end;
                color: white;
                background-color: $primary;
                width: 50%;

                h3 {
                    height: 100%;
                    font-size: 3em;

                    &:hover {
                        border: 1px solid $secondary;
                        cursor: pointer;
                    }
                }
            }

            .brand {
                margin-top: 2.7vh;
            }

            .prod {
                margin-top: 9.5vh;
            }

            .bgONE,
            .bgTWO {
                position: absolute;
                border-bottom: 4px solid $secondary;
                border-left: 4px solid $secondary;
                align-self: flex-end;
                z-index: -1;
            }

            .bgONE {
                top: 0;
                left: 5.5vw;
                width: 15%;
                height: 15%;
            }

            .bgTWO {
                top: 15%;
                left: 5.5vw;
                width: 15%;
                height: 22%;
            }
        }

        .marcas-img,
        .productos-img {
            width: 70%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .marcas-container,
            .productos-container {
                height: 200px;
                width: 90%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                .articulos-container__logo {
                    width: 190px;
                    height: 190px;
                    background-color: #e0e0e0;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .marcas-container__arriba {
                .articulos-container__logo {
                    &:nth-child(1) {
                        img {
                            width: 90%;
                            height: 50%;
                        }
                    }
                    &:nth-child(2) {
                        img {
                            width: 90%;
                            height: 20%;
                        }
                    }
                    &:nth-child(3) {
                        img {
                            width: 90%;
                            height: 20%;
                        }
                    }
                    &:nth-child(4) {
                        img {
                            width: 90%;
                            height: 10%;
                        }
                    }
                }
            }
            .marcas-container__medio {
                .articulos-container__logo {
                    &:nth-child(1) {
                        img {
                            width: 90%;
                            height: 50%;
                        }
                    }
                    &:nth-child(2) {
                        img {
                            width: 90%;
                            height: 40%;
                        }
                    }
                    &:nth-child(3) {
                        img {
                            width: 90%;
                            height: 70%;
                        }
                    }
                    &:nth-child(4) {
                        img {
                            width: 90%;
                            height: 10%;
                        }
                    }
                }
            }
            .marcas-container__abajo {
                .articulos-container__logo {
                    &:nth-child(1) {
                        img {
                            width: 90%;
                            height: 50%;
                        }
                    }
                    &:nth-child(2) {
                        img {
                            width: 90%;
                            height: 30%;
                        }
                    }
                    &:nth-child(3) {
                        img {
                            width: 90%;
                            height: 30%;
                        }
                    }
                    &:nth-child(4) {
                        .otros {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 90%;
                            height: 27%;
                            border-radius: 20px;
                            background-color: $primary;
                            font-family: $secondary-font;
                            font-size: 2.2em;
                            color: white;
                            font-size: 1.8em;
                        }
                    }
                }
            }

            .productos-container__abajo {
                .otros {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 90%;
                    height: 27%;
                    border-radius: 20px;
                    background-color: $primary;
                    font-family: $secondary-font;
                    font-size: 2.2em;
                    color: white;
                    font-size: 1.8em;
                }

                .articulos-container__logo {
                    &:nth-child(4) {
                        visibility: hidden;
                    }
                }
            }
        }

        .hide {
            display: none;
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    .productos {
        .productos-txt {
            h2 {
                width: auto;
            }
        }

        .productos-container__main {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;

            .productos-menu {
                margin-top: 20px;
                width: 100%;
                flex-direction: row;
                justify-content: center;
                position: static;

                .main {
                    width: 30%;
                    align-self: center;
                    h2 {
                        text-align: center;
                        width: auto;
                        font-size: 2em;
                    }
                }

                .prod,
                .brand {
                    display: flex;
                    justify-content: center;
                    margin-top: 0;
                    width: 30%;
                    font-size: 0.8em;

                    h3 {
                        display: flex;
                        height: 100%;
                        font-size: 2.5em;

                        &:hover {
                            border: 1px solid $secondary;
                            cursor: pointer;
                        }
                    }
                }

                .bgONE,
                .bgTWO {
                    display: none;
                }
            }

            .marcas-img,
            .productos-img {
                margin-top: 10px;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .marcas-container,
                .productos-container {
                    .articulos-container__logo {
                        width: 150px;
                        height: 150px;
                        background-color: #e0e0e0;
                        border: 2px solid black;
                    }
                }

                .marcas-container__arriba {
                    .articulos-container__logo {
                        &:nth-child(2) {
                            img {
                                width: 90%;
                                height: 20%;
                            }
                        }
                        &:nth-child(3) {
                            img {
                                width: 90%;
                                height: 17%;
                            }
                        }
                    }
                }

                .marcas-container__medio {
                    .articulos-container__logo {
                        &:nth-child(2) {
                            img {
                                width: 90%;
                                height: 35%;
                            }
                        }
                        &:nth-child(3) {
                            img {
                                width: 95%;
                                height: 80%;
                            }
                        }
                    }
                }
                .marcas-container__abajo {
                    .articulos-container__logo {
                        &:nth-child(2) {
                            img {
                                width: 90%;
                                height: 25%;
                            }
                        }
                        &:nth-child(3) {
                            img {
                                width: 90%;
                                height: 20%;
                            }
                        }
                        &:nth-child(4) {
                            img {
                                width: 90%;
                                height: 50%;
                            }
                        }
                    }
                }
            }

            .hide {
                display: none;
            }
        }
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .productos {
        .productos-txt {
            h2 {
                width: auto;
            }
        }

        .productos-container__main {
            width: 90%;
            height: auto;
            display: flex;
            justify-content: space-around;

            .productos-menu {
                width: 30%;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                position: relative;

                .main {
                    background-color: $secondary;
                    color: $primary;
                    align-self: flex-start;
                }

                .prod,
                .brand {
                    display: flex;
                    align-items: center;
                    align-self: flex-end;
                    color: white;
                    background-color: $primary;
                    width: 50%;

                    h3 {
                        height: 100%;
                        font-size: 2.6em;

                        &:hover {
                            border: 1px solid $secondary;
                            cursor: pointer;
                        }
                    }
                }

                .brand {
                    margin-top: 7vh;
                }

                .prod {
                    margin-top: 14vh;
                }

                .bgONE,
                .bgTWO {
                    position: absolute;
                    border-bottom: 4px solid $secondary;
                    border-left: 4px solid $secondary;
                    align-self: flex-end;
                    z-index: -1;
                }

                .bgONE {
                    top: 0;
                    left: 5.5vw;
                    width: 15%;
                    height: 19%;
                }

                .bgTWO {
                    top: 18%;
                    left: 5.5vw;
                    width: 15%;
                    height: 27%;
                }
            }

            .marcas-img,
            .productos-img {
                margin-top: 10px;
                width: 80%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;

                .marcas-container,
                .productos-container {
                    width: 90%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .articulos-container__logo {
                        width: 175px;
                        height: 175px;
                        background-color: #e0e0e0;
                        border: 2px solid black;
                    }
                }
            }

            .hide {
                display: none;
            }
        }
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .productos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .productos-txt {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            h2 {
                color: $primary;
                background-color: $secondary;
                letter-spacing: 2px;
                width: 15%;
                text-align: center;
                text-transform: uppercase;
            }

            p {
                font-size: 2.2em;
                text-align: center;
                color: white;
            }
        }

        .productos-container__main {
            width: 90%;
            height: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .productos-menu {
                width: 20%;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                position: relative;

                .main {
                    background-color: $secondary;
                    color: $primary;
                    align-self: flex-start;
                }

                .prod,
                .brand {
                    display: flex;
                    align-items: center;
                    align-self: flex-end;
                    color: white;
                    background-color: $primary;
                    width: 50%;

                    h3 {
                        height: 100%;
                        font-size: 3em;

                        &:hover {
                            border: 1px solid $secondary;
                            cursor: pointer;
                        }
                    }
                }

                .brand {
                    margin-top: 4.7vh;
                }

                .prod {
                    margin-top: 12vh;
                }

                .bgONE,
                .bgTWO {
                    position: absolute;
                    border-bottom: 4px solid $secondary;
                    border-left: 4px solid $secondary;
                    align-self: flex-end;
                    z-index: -1;
                }

                .bgONE {
                    top: 0;
                    left: 5.5vw;
                    width: 15%;
                    height: 15%;
                }

                .bgTWO {
                    top: 15%;
                    left: 5.5vw;
                    width: 15%;
                    height: 22%;
                }
            }

            .marcas-img,
            .productos-img {
                width: 70%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                .marcas-container,
                .productos-container {
                    height: 200px;
                    width: 90%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;

                    .articulos-container__logo {
                        width: 175px;
                        height: 175px;
                        background-color: #e0e0e0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                .marcas-container__arriba {
                    .articulos-container__logo {
                        &:nth-child(2) {
                            img {
                                width: 90%;
                                height: 20%;
                            }
                        }
                        &:nth-child(3) {
                            img {
                                width: 90%;
                                height: 17%;
                            }
                        }
                    }
                }

                .marcas-container__medio {
                    .articulos-container__logo {
                        &:nth-child(2) {
                            img {
                                width: 90%;
                                height: 35%;
                            }
                        }
                        &:nth-child(3) {
                            img {
                                width: 95%;
                                height: 80%;
                            }
                        }
                    }
                }
                .marcas-container__abajo {
                    .articulos-container__logo {
                        &:nth-child(2) {
                            img {
                                width: 90%;
                                height: 25%;
                            }
                        }
                        &:nth-child(3) {
                            img {
                                width: 90%;
                                height: 20%;
                            }
                        }
                        &:nth-child(4) {
                            img {
                                width: 90%;
                                height: 50%;
                            }
                        }
                    }
                }

                .productos-container {
                    .articulos-container__logo {
                        img {
                            width: 100%;
                        }
                    }
                }
            }

            .hide {
                display: none;
            }
        }
    }
}
