<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="../../css/style.css" />
        <script src="../../script.js"></script>
        <title>Carlos Karabitian - Agente oficial Shimano.</title>
    </head>
    <body>
        <header>
            <div id="nav-container" class="nav-container">
                <div class="logo">
                    <a href="#"><img src="../../img/logo2.png" alt="" /></a>
                </div>
                <nav class="navbar" id="navbar">
                    <ul>
                        <li><a href="../../index.html">INICIO</a></li>
                        <li><a href="../empresa/empresa.html">LA EMPRESA</a></li>
                        <li><a href="../teamVenzo/teamVenzo.html">TEAM VENZO</a></li>
                        <li><a href="#">PRODUCTOS</a></li>
                        <li><a href="../cicloturistas/cicloturistas.html">CICLOTURISTAS</a></li>
                        <li><a href="../contacto/contacto.html">CONTACTO</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <section class="productos">
            <div class="productos-txt">
                <h2>productos</h2>
                <p>A todas nuestras bicicleterías acercamos productos de una variedad de marcas que sólo en GCK podés encontrar. Lo que imagines en materia de: repuestos, bicicletas, equipos, accesorios, partes para ensamblar. Conocé algunas de las tantas que comercializamos.</p>
            </div>
            <div class="productos-container">
                <div class="productos-menu" id="productos-menu">
                    <div class="main">
                        <h2>buscar por</h2>
                    </div>

                    <div class="brand">
                        <h3 id="marcas">marcas</h3>
                    </div>
                    <div class="prod">
                        <h3 id="productos">productos</h3>
                    </div>
                    <div class="bgONE"></div>
                    <div class="bgTWO"></div>
                </div>
                <div class="marcas-img" id="marcas-img">
                    <div class="marcas-container__top">
                        <div class="marcas-container__logo">
                            <img src="../../img/Logos de marcas/beto.png" alt="" />
                        </div>
                        <div class="marcas-container__logo">
                            <img src="../../img/Logos de marcas/fox.png" alt="" />
                        </div>
                        <div class="marcas-container__logo">
                            <img src="../../img/Logos de marcas/maxxis.png" alt="" />
                        </div>
                        <div class="marcas-container__logo">
                            <img src="../../img/Logos de marcas/shimano.png" alt="" />
                        </div>
                    </div>
                    <div class="marcas-container__mid">
                        <div class="marcas-container__logo">
                            <img src="../../img/Logos de marcas/sram.png" alt="" />
                        </div>
                        <div class="marcas-container__logo">
                            <img src="../../img/Logos de marcas/venzo.png" alt="" />
                        </div>
                        <div class="marcas-container__logo">
                            <img src="../../img/Logos de marcas/wilier.png" alt="" />
                        </div>
                        <div class="marcas-container__logo">
                            <img src="../../img/Logos de marcas/weldtite.png" alt="" />
                        </div>
                    </div>
                    <div class="marcas-container__low">
                        <div class="marcas-container__logo">
                            <img src="../../img/Logos de marcas/superB.png" alt="" />
                        </div>
                        <div class="marcas-container__logo">
                            <img src="../../img/Logos de marcas/selle.png" alt="" />
                        </div>
                        <div class="marcas-container__logo">
                            <img src="../../img/Logos de marcas/rst.png" alt="" />
                        </div>
                        <div class="marcas-container__logo">
                            <img src="../../img/Logos de marcas/limar.png" alt="" />
                        </div>
                    </div>
                </div>
                <div class="productos-img hide" id="productos-img">
                    <div class="productos-container__top">
                        <div class="productos-container__logo">
                            <img src="../../img/productos-img/cascos.png" alt="" />
                        </div>
                        <div class="productos-container__logo">
                            <img src="../../img/productos-img/asientos.png" alt="" />
                        </div>
                        <div class="productos-container__logo">
                            <img src="../../img/productos-img/llantas.png" alt="" />
                        </div>
                        <div class="productos-container__logo">
                            <img src="../../img/productos-img/cubiertas.png" alt="" />
                        </div>
                    </div>
                    <div class="productos-container__mid">
                        <div class="productos-container__logo">
                            <img src="../../img/productos-img/bicicletas.png" alt="" />
                        </div>
                        <div class="productos-container__logo">
                            <img src="../../img/productos-img/luces.png" alt="" />
                        </div>
                        <div class="productos-container__logo">
                            <img src="../../img/productos-img/hoquillas.png" alt="" />
                        </div>
                        <div class="productos-container__logo">
                            <img src="../../img/productos-img/vestimenta.png" alt="" />
                        </div>
                    </div>
                    <div class="productos-container__low">
                        <div class="productos-container__logo">
                            <img src="../../img/productos-img/eslingas.png" alt="" />
                        </div>
                        <div class="productos-container__logo">
                            <img src="../../img/productos-img/infladores.png" alt="" />
                        </div>
                        <div class="productos-container__logo"></div>
                        <div class="productos-container__logo"></div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
