<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous" />
        <link rel="stylesheet" href="../../css/style.css" />

        <script src="./productos.js"></script>

        <title>Grupo Carlos Karabitian.</title>
    </head>
    <body>
        <nav class="navbar navbar-dark navbar-expand-lg nav-container py-4">
            <a class="navbar-brand brand-mobile" href="../../index.html" style="width: 25%;"><img src="../../img/logo2.png" class="img-fluid" alt="logo" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav ml-5">
                    <li class="nav-item nav-item-style mx-1">
                        <a class="nav-link" href="../../index.html">INICIO<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item nav-item-style mx-1">
                        <a class="nav-link" href="../empresa/empresa.html">LA EMPRESA</a>
                    </li>
                    <li class="nav-item nav-item-style mx-1">
                        <a class="nav-link" href="../teamVenzo/teamVenzo.html">
                            TEAM VENZO
                        </a>
                    </li>
                    <li class="nav-item nav-item-style mx-1">
                        <a class="nav-link active" href="#">PRODUCTOS</a>
                    </li>
                    <li class="nav-item nav-item-style mx-1">
                        <a class="nav-link" href="../cicloturistas/cicloturistas.html">CICLOTURISTAS</a>
                    </li>
                    <li class="nav-item nav-item-style ml-1 mr-3">
                        <a class="nav-link" href="../contacto/contacto.html">CONTACTO</a>
                    </li>
                </ul>
            </div>
        </nav>

        <section class="productos">
            <div class="productos-txt my-5">
                <h2 class="p-2">productos</h2>
                <p class="my-2 px-5">A todas nuestras bicicleterías acercamos productos de una variedad de marcas que sólo en GCK podés encontrar. Lo que imagines en materia de: repuestos, bicicletas, equipos, accesorios, partes para ensamblar. Conocé algunas de las tantas que comercializamos.</p>
            </div>
            <div class="productos-container__main">
                <div class="productos-menu" id="productos-menu">
                    <div class="main">
                        <h2>buscar por</h2>
                    </div>

                    <div class="brand">
                        <h3 id="marcas">marcas</h3>
                    </div>
                    <div class="prod">
                        <h3 id="productos">productos</h3>
                    </div>
                    <div class="bgONE"></div>
                    <div class="bgTWO"></div>
                </div>
                <div class="marcas-img" id="marcas-img">
                    <div class="marcas-container marcas-container__arriba">
                        <div class="articulos-container__logo">
                            <img src="../../img/LogosDeMarcas/venzo.png" alt="" />
                        </div>
                        <div class="articulos-container__logo">
                            <img src="../../img/LogosDeMarcas/wilier.png" alt="" />
                        </div>
                        <div class="articulos-container__logo">
                            <img src="../../img/LogosDeMarcas/profile.png" alt="" />
                        </div>
                        <div class="articulos-container__logo">
                            <img src="../../img/LogosDeMarcas/shimano.png" alt="" />
                        </div>
                    </div>
                    <div class="marcas-container marcas-container__medio">
                        <div class="articulos-container__logo">
                            <img src="../../img/LogosDeMarcas/kench.png" alt="" />
                        </div>
                        <div class="articulos-container__logo">
                            <img src="../../img/LogosDeMarcas/superB.png" alt="" />
                        </div>

                        <div class="articulos-container__logo">
                            <img src="../../img/LogosDeMarcas/selle.png" alt="" />
                        </div>
                        <div class="articulos-container__logo">
                            <img src="../../img/LogosDeMarcas/sram.png" alt="" />
                        </div>
                    </div>
                    <div class="marcas-container marcas-container__abajo">
                        <div class="articulos-container__logo">
                            <img src="../../img/LogosDeMarcas/fox.png" alt="" />
                        </div>
                        <div class="articulos-container__logo">
                            <img src="../../img/LogosDeMarcas/weldtite.png" alt="" />
                        </div>

                        <div class="articulos-container__logo">
                            <img src="../../img/LogosDeMarcas/rst.png" alt="" />
                        </div>
                        <div class="articulos-container__logo">
                            <div class="otros">Otras Marcas</div>
                        </div>
                    </div>
                </div>

                <div class="productos-img hide" id="productos-img">
                    <div class="productos-container productos-container__arriba">
                        <div class="articulos-container__logo">
                            <img src="../../img/productos-img/cascos.png" alt="" />
                        </div>
                        <div class="articulos-container__logo">
                            <img src="../../img/productos-img/asientos.png" alt="" />
                        </div>
                        <div class="articulos-container__logo">
                            <img src="../../img/productos-img/llantas.png" alt="" />
                        </div>
                        <div class="articulos-container__logo">
                            <img src="../../img/productos-img/cubiertas.png" alt="" />
                        </div>
                    </div>
                    <div class="productos-container productos-container__medio">
                        <div class="articulos-container__logo">
                            <img src="../../img/productos-img/bicicletas.png" alt="" />
                        </div>
                        <div class="articulos-container__logo">
                            <img src="../../img/productos-img/luces.png" alt="" />
                        </div>
                        <div class="articulos-container__logo">
                            <img src="../../img/productos-img/horquillas.png" alt="" />
                        </div>
                        <div class="articulos-container__logo">
                            <img src="../../img/productos-img/vestimenta.png" alt="" />
                        </div>
                    </div>
                    <div class="productos-container productos-container__abajo">
                        <div class="articulos-container__logo">
                            <img src="../../img/productos-img/eslingas.png" alt="" />
                        </div>
                        <div class="articulos-container__logo">
                            <img src="../../img/productos-img/infladores.png" alt="" />
                        </div>
                        <div class="articulos-container__logo">
                            <div class="otros">Otros Productos</div>
                        </div>
                        <div class="articulos-container__logo"></div>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="footer-container">
                <div class="telefono"><i class="fas fa-phone-alt fa-2x"></i>+54 9 0351 493606</div>
                <div class="mail"><i class="fas fa-envelope fa-2x"></i>info@karabitian.com.ar</div>
                <div class="localidad"><i class="fas fa-map-marker-alt fa-2x"></i>Córdoba - Argentina</div>
            </div>
            <div class="footer-container">
                <div class="logo">
                    <img src="/img/logo2.png" alt="" />
                </div>
                <div class="redes">
                    <a href="https://www.facebook.com/GrupoCarlosKarabitian/" target="_blank"><i class="fab fa-facebook-f fa-3x"></i></a>
                    <a href="https://www.instagram.com/grupocarloskarabitian/" target="_blank"><i class="fab fa-instagram fa-3x"></i></a>
                    <a href="https://www.youtube.com/channel/UCtyDto8JGPKGj4dGdTMic_g" target="_blank"><i class="fab fa-youtube fa-3x"></i></a>
                </div>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>
